<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
    
      <nav>
        <ul class="nav pull-right">
<<<<<<< HEAD
          <li><%= link_to "Sign In", signup_path %></li>
          <li><%= link_to "Help", help_path %></li>
=======
          <li><%= link_to "Sign In", '#' %></li>
<li><%= link_to "Get Started", start_path %></li>          
<li><%= link_to "Help", help_path %></li>
          
>>>>>>> modeling-users
         
       </ul>
      </nav>
    </div>
  </div>
</header>

